<div id="modal_show_files_<%=object.id%>" class="mfp-hide white-popup-block parts-modal">
	<h1>Arquivos</h1>

	<% object.piece_process_files.sort_by{|e| -e[:folder_name]}.each do |pf| %>
	<div id="div_with_piece_process_file_<%=pf.id%>">
		<label class="show_div_with_piece_process_files" for="#" id="show_div_with_piece_process_files_<%=pf.id%>">Pasta: <%=pf.folder_name%> <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></label>
		<div class="div_with_piece_process_files" id="div_with_piece_process_files_<%=pf.id%>">
			<% pf.attachments.each do |attach| %>
			<div class="row" id="div_with_attachment_piece_<%=attach.id%>">
				<div class="col-xs-10">
					<div class="form-group">
						<%= link_to attach.attachment_file_name, attach.attachment.url(:original, false), target: "_blank" %>
					</div>
				</div>
				<div class="col-xs-2">
					<div class="form-group">
						<a class="delete_attachment_piece" id="#delete_attachment_piece_<%=attach.id%>">Excluir</a>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<% end %>
	<p class="close-modal"><a class="popup-modal-dismiss" href="#">x</a></p>
</div>