<div class="panel">

	<!-- Abas -->
	<div class="panel-heading">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#">Correios</a>
			</li>
			<li>
				<a href="#">Cartório</a>
			</li>
			<li>
				<a href="#">Motoboy</a>
			</li>
			<li>
				<a href="#">Diligeiros</a>
			</li>
			<li>
				<a href="#">Outros</a>
			</li>
		</ul>     
	</div>

	<!-- Conteudo Panel -->
	<div class="panel-body">
		<div class="tab-content">
			<%= render 'subcontractors/steps/step_1' %>
			<%= render 'subcontractors/steps/step_2' %>
			<%= render 'subcontractors/steps/step_3' %>
			<%= render 'subcontractors/steps/step_4' %>
			<%= render 'subcontractors/steps/step_5' %>
		</div>
	</div>
</div>
