<div class="container" id="users">
	
	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head">
			<h1 class="inline"><a href="<%= users_path %>">Usuários</a></h1>
			<% if @current_user.is_admin? %><a class="pull-right new-btn" href="<%= new_user_path %>">Novo</a><%end%>
		</div>
	</div>

	<!-- Filter -->
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-11">
					<%= datagrid_form_for @grid, :method => :get, :url => users_path %>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Table -->
	<div>
		<%= datagrid_table @grid, html: {class: 'datagrid table users_grid'} %>
	</div>
	
	<!-- Pagination -->
	<div class="row">
		<div class="col-xs-12 center">
			<%= paginate(@grid.assets) %>
		</div>
	</div>

</div>