<%= simple_form_for @client, defaults: { input_html: {class: 'form-control'}} do |f| %>
<%= hidden_field_tag "client[id]", @client.id %>
<div class="panel">

	<!-- Abas -->
	<div class="panel-heading">
		<ul class="nav nav-tabs">
			<li class="<%= 'active' if @active == 1 %>" id="client_step_1">
				<a href="#">Dados da empresa</a>
			</li>
			<li class="<%= 'active' if @active == 4 %>" id="client_step_4">
				<a href="#">Contato</a>
			</li>
			<li class="<%= 'active' if @active == 2 %>" id="client_step_2">
				<a href="#">Segmentos</a>
			</li>
			<li class="<%= 'active' if @active == 3 %>" id="client_step_3">
				<a href="#">Contabilidade</a>
			</li>
			<li class="<%= 'active' if @active == 5 %>" id="client_step_5">
				<a href="#">Dados Bancários</a>
			</li>
			<li class="<%= 'active' if @active == 6 %>" id="client_step_6">
				<a href="#">Documentos</a>
			</li>
		</ul>     
	</div>

	<!-- Conteudo Panel -->
	<div class="panel-body">
		<div class="tab-content">
			<%= render 'clients/steps/step_1', :@active => @active, :f => f %>
			<%= render 'clients/steps/step_4', :@active => @active, :f => f %>
			<%= render 'clients/steps/step_2', :@active => @active, :f => f %>
			<%= render 'clients/steps/step_3', :@active => @active, :f => f %>
			<%= render 'clients/steps/step_5', :@active => @active, :f => f %>
			<%= render 'clients/steps/step_6', :@active => @active, :f => f %>
		</div>
	</div>
</div>
<% end %>