<div class="row">
	<div class="col-xs-4">
		<% if object != nil %>
		<%= link_to object.document_file_name, object.document.url(:original, false), target: "_blank" %>
		<% if object.client_document_status %>
		<% if object.client_document_status.id != 1 %>
		<br>
		<a href="#" data-toggle="modal" data-target="#modal_document_information_<%=object.id%>">
			<%= object.client_document_status.name %>
		</a>
		<% end %>
		<% end %>
		<div id="modal_document_information_<%=object.id%>" class="modal fade">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h5 class="modal-title">Detalhamento documento</h5>
					</div>

					<div class="modal-body" style="margin-top: 13px;">
						<div class="row">
							<div class="col-xs-12">
								Documento:
								<%= link_to object.document_file_name, object.document.url(:original, false), target: "_blank" %>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								Vencimento:
								<%= I18n.l(object.due_date.to_date, format: :default) %>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								Notificação em:
								<%= object.client_document_notification.days %> dias
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>






