<%= simple_form_for @visits_report, defaults: { input_html: {class: 'form-control'}} do |f| %>
<div class="container" id="visit_reports_new">

	<!-- Form -->
	<div class="row">

		<div class="col-xs-12">

			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label>Razão social</label>
						<%= f.input :social_name, label: false %>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label>Nome fantasia*</label>
						<%= f.input :fantasy_name, label: false %>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label>CNPJ*</label>
						<%= f.input :cnpj, label: false, input_html: { class: 'string optional form-control cnpj' } %>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label>Porte*</label>
						<%= f.association :scale, collection: Scale.all.order(:name), label_method: :name, value_method: :id, label: false, include_blank: "-- Selecione --", input_html: { class: 'select optional form-control chosen' } %>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label>Data e hora*</label>
						<%= f.text_field :date_and_time, label: false, class: "form-control datetimepicker", :value => f.object.date_and_time != nil ? I18n.l(f.object.date_and_time, format: :full) : nil%>
					</div>
				</div>
				<div class="col-xs-4 add-visit">
					<div class="checkbox">
						<%= f.input :shared, label: false %>
						<label for="visits_report_shared">Adicionar esta visita no calendário compartilhado</label>
					</div>
				</div>
			</div>

			<br>

			<div class="row">
				<div class="col-xs-3">
					<div class="form-group">
						<label>Título da proposta*</label>
						<%= f.input :proposal_text, label: false %>
					</div>
				</div>		
				<div class="col-xs-3">
					<div class="form-group">
						<label>Assunto</label>
						<%= f.input :subject, label: false %>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label>Site</label>
						<%= f.input :site, label: false %>
					</div>
				</div>
				<div class="col-xs-3">
					<div class="form-group">
						<label>Responsável pela empresa*</label>
						<%= f.input :responsible_name, label: false %>
					</div>
				</div>
			</div>

			<div class="row">
			<!-- 	<div class="col-xs-3">
					<div class="form-group">
						<label>Intermediador*</label> -->
						<% if @visits_report.persisted? %>
							<%= f.association :user, :as => :hidden, collection: User.unblocked.order(:name), input_html: { value: @visits_report.user_id } %>
						<% else %>
							<%= f.association :user, :as => :hidden, collection: User.unblocked.order(:name), input_html: { value: @current_user.id } %>
						<% end %>
						<%# f.association :user, collection: User.unblocked.order(:name), label_method: :name, value_method: :id, label: false, include_blank: "-- Selecione --", input_html: { class: 'select optional form-control chosen' } %>
				<!-- 	</div>
			</div> -->
			<div class="col-xs-3">
				<div class="form-group">
					<label>Contatos</label>
					<%= f.input :contacts, label: false %>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<label>Telefone*</label>
					<%= f.input :phone, label: false, input_html: { class: 'string optional form-control custom-tel' } %>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<label>Email*</label>
					<%= f.input :email, label: false %>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<label>Segmentos</label>
					<%= f.input :segment, label: false %>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-xs-3">
				<div class="form-group">
					<label>Produtos e serviços</label>
					<%= f.input :products_and_services, label: false %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<div class="form-group">
					<label>Observações</label>
					<%= f.input :observation, label: false %>
				</div>
			</div>
		</div>

		<h2>Endereço</h2>

		<div class="row">
			<div class="col-xs-2">
				<div class="form-group">
					<label>CEP*</label>
					<%= f.input :zipcode, label: false, input_html: { class: 'string optional form-control cep' } %>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<label>Logradouro*</label>
					<%= f.input :address, label: false %>
				</div>
			</div>
			<div class="col-xs-1">
				<div class="form-group">
					<label>Numero*</label>
					<%= f.input :number, label: false %>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<label>Complemento</label>
					<%= f.input :complement, label: false %>
				</div>
			</div>
			<div class="col-xs-3">
				<div class="form-group">
					<label>Bairro*</label>
					<%= f.input :district, label: false %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-2">
				<div class="form-group">
					<label>Estado*</label>
					<%= f.association :state, collection: State.all.order(:name), label_method: :acronym, value_method: :id, label: false, include_blank: "-- Selecione --", input_html: {class: 'select optional form-control chosen'} %>
				</div>					
			</div>
			<div class="col-xs-2">
				<div class="form-group">
					<label>Cidade*</label>
					<%= f.association :city, collection: City.all.order(:name), label_method: :name, value_method: :id, label: false, include_blank: "-- Selecione --", input_html: {class: 'select optional form-control chosen'} %>
				</div>					
			</div>
		</div>

		<% if f.object.persisted? %>
		<%= f.input :lat, :as => :hidden, :value => f.object.lat %>
		<%= f.input :lng, :as => :hidden, :value => f.object.lng %>
		<% else %>
		<%= f.input :lat, :as => :hidden %>
		<%= f.input :lng, :as => :hidden %>
		<% end %>
		<div class="row">
			<div class="col-xs-12" id="maps">
				<style>
					#map, #pano {
						width: 100%;
						height: 400px;
						background-color: grey;
						pointer-events: none;
					}
				</style>
				<div id="map"></div>
				<div id="pano"></div>
			</div>
		</div>

		<button class="save-btn" type="submit">Salvar</button>


	</div>

</div>

</div>
<% end %>
