<%= simple_form_for @third, defaults: { input_html: {class: 'form-control'}} do |f| %>

<%= f.association :third_type, :as => :hidden, input_html: { value: @third_type} %>

<div class="tab-pane active">
	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Third.human_attribute_name(:register_number)%></label>
				<%= f.input :register_number, label: false %>
			</div>
		</div>
		<% if @third_type == '5' || @third_type == 5 %>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Third.human_attribute_name(:diligent_profile)%></label>
				<%= f.association :diligent_profile, collection: DiligentProfile.all.order(:name), label_method: :name, value_method: :id, label: false, include_blank: "-- Selecione --", input_html: { class: 'select optional form-control chosen' } %>
			</div>
		</div>
		<% end %>

	</div>

	<% if @third_type == '3' || @third_type == '4' || @third_type == '5' || @third_type == 3 || @third_type == 4 || @third_type == 5 %>
	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Third.human_attribute_name(:name)%></label>
				<%= f.input :name, label: false %>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Third.human_attribute_name(:phone)%></label>
				<%= f.input :phone, label: false, input_html: {class: 'form-control phone'}  %>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Third.human_attribute_name(:cpf)%></label>
				<%= f.input :cpf, label: false, input_html: {class: 'form-control cpf'}  %>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Third.human_attribute_name(:rg)%></label>
				<%= f.input :rg, label: false %>
			</div>
		</div>
	</div>
	<% end %>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Third.human_attribute_name(:fantasy_name)%></label>
				<%= f.input :fantasy_name, label: false %>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Third.human_attribute_name(:social_name)%></label>
				<%= f.input :social_name, label: false %>
			</div>			
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Third.human_attribute_name(:cnpj)%></label>
				<%= f.input :cnpj, label: false, input_html: {class: 'form-control cnpj'}  %>
			</div>			
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label>Telefone</label>
				<br>
				<% phones_counter = 0 %>
				<% first_phone = false %>
				<div id="group_phones">
					<%= f.fields_for :phones, defaults: { input_html: { class: 'form-control width-input' } } do |phone| %>
					
					<%= phone.input :phone, label: false, input_html: {class: 'string form-control custom-tel width-input'} %>

					<% if phone.object.persisted? %>
					<td class="text text-center">
						<span data-toggle="tooltip" title="Remover">
							<%= phone.check_box :_destroy %>
							<% phone.label :_destroy, "Remover" %>
						</span>
					</td>
					<% else %>

					<% if !first_phone %>
					<% first_phone = true %>
					<% else %>
					<a data-toggle="tooltip" title="Remover" id="delete_phone_<%=phones_counter%>" class="delete_phone">x</a>
					<% end %>

					<% end %>

					<% phones_counter += 1 %>

					<% end %>
				</div>
				<a class="add-anchor" id="add_new_phone_third">
					<div class="add-input">
						+
					</div>
				</a>
				<%= hidden_field_tag "phones_counter", phones_counter %>
			</div>
		</div>		
		<div class="col-xs-3">
			<div class="form-group">
				<label>Email</label>
				<br>
				<% emails_counter = 0 %>
				<% first_email = false %>
				<div id="group_emails">
					<%= f.fields_for :emails, defaults: { input_html: { class: 'form-control width-input' } } do |email| %>
					<%= email.input :email, label: false %>
					<% if email.object.persisted? %>
					<td class="text text-center">
						<span data-toggle="tooltip" title="Remover">
							<%= email.check_box :_destroy %>
							<% email.label :_destroy, "Remover" %>
						</span>
					</td>
					<% else %>
					<% if !first_email %>
					<% first_email = true %>
					<% else %>
					<a data-toggle="tooltip" title="Remover" id="delete_email_<%=emails_counter%>" class="delete_email">x</a>
					<% end %>
					<% end %>
					<% emails_counter += 1 %>
					<% end %>
				</div>
				<a class="add-anchor" id="add_new_email_third">
					<div class="add-input">
						+
					</div>
				</a>
				<%= hidden_field_tag "emails_counter", emails_counter %>
			</div>
		</div>
	</div>

	<% responsible_counter = 0 %>

	<!-- Responsáveis -->
	<%= f.fields_for :responsible, defaults: { input_html: { class: 'form-control' } } do |responsible| %>
	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Responsible.human_attribute_name(:name)%></label>
				<%= responsible.input :name, label: false %>
			</div>					
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Responsible.human_attribute_name(:office)%></label>
				<%= responsible.input :office, label: false %>
			</div>					
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Responsible.human_attribute_name(:department)%></label>
				<%= responsible.input :department, label: false %>
			</div>					
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label for="#"><%= Responsible.human_attribute_name(:site)%></label>
				<%= responsible.input :site, label: false %>
			</div>					
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<label style="display: block;"><%= Responsible.human_attribute_name(:phone)%></label>
				<% first_phone = false %>
				<% phones_counter_responsible = 0 %>
				<div id="group_phones_responsible_<%=responsible_counter%>" class="inline">
					<%= responsible.fields_for :phones, defaults: { input_html: { class: 'form-control' } } do |phone| %>
					<%= phone.input :phone, label: false, input_html: {class: 'form-control custom-tel width-input'} %>
					<% phones_counter_responsible += 1 %>
					<% if !phone.object.persisted? %>
					<a class="add-anchor add_new_phone_dynamic_responsible_third" id="add_new_phone_dynamic_<%=responsible_counter%>">
						<div class="add-input">+</div>
					</a>
					<% end %>
					<% if phone.object.persisted? %>
					<a title="Excluir" rel="nofollow" data-method="delete" class="edit-fix" href="<%= delete_phone_third_path(phone.object) %>">x</a>
					<% end %>
					<% end %>
				</div>
				<%= hidden_field_tag "phones_counter_responsible_#{responsible_counter}", phones_counter_responsible %>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="form-group">
				<label style="display: block;"><%= Responsible.human_attribute_name(:email)%></label>
				<% first_email = false %>
				<% emails_counter_responsible = 0 %>
				<div id="group_emails_responsible_<%=responsible_counter%>" class="inline">
					<%= responsible.fields_for :emails, defaults: { input_html: { class: 'form-control' } } do |email| %>
					<%= email.input :email, label: false, input_html: {class: 'big-input form-control edit-position'} %>
					<% emails_counter_responsible += 1 %>
					<% if !email.object.persisted? %>
					<a class="add-anchor add_new_email_dynamic_responsible_third" id="add_new_email_dynamic_<%=responsible_counter%>">
						<div class="add-input">+</div>
					</a>
					<% end %>
					<% if email.object.persisted? %>
					<a title="Excluir" rel="nofollow" data-method="delete" class="edit-fix" href="<%= delete_email_third_path(email.object) %>">x</a>
					<% end %>
					<% end %>
				</div>

				<%= hidden_field_tag "emails_counter_responsible_#{responsible_counter}", emails_counter_responsible %>
			</div>
		</div>

		<div class="col-xs-3">
			<div class="form-group">
				<label style="display: block;"><%= Responsible.human_attribute_name(:skype)%></label>
				<% first_skype = false %>
				<% skypes_counter_responsible = 0 %>
				<div id="group_skypes_responsible_<%=responsible_counter%>" class="inline">
					<%= responsible.fields_for :skypes, defaults: { input_html: { class: 'form-control' } } do |skype| %>
					<%= skype.input :skype, label: false, input_html: {class: 'big-input form-control edit-position'} %>
					<% skypes_counter_responsible += 1 %>
					<% if !skype.object.persisted? %>
					<a class="add-anchor add_new_skype_dynamic_responsible_third" id="add_new_skype_dynamic_<%=responsible_counter%>">
						<div class="add-input">+</div>
					</a>
					<% end %>
					<% if skype.object.persisted? %>
					<a title="Excluir" rel="nofollow" data-method="delete" class="edit-fix" href="<%= delete_skype_third_path(skype.object) %>">x</a>
					<% end %>
					<% end %>
				</div>
				<%= hidden_field_tag "skypes_counter_responsible_#{responsible_counter}", skypes_counter_responsible %>
			</div>
		</div>
	</div>
	<% responsible_counter += 1 %>
	<% end %>
	<!-- Final responsáveis -->

	<%= f.fields_for :address, defaults: { input_html: { class: 'form-control' } } do |address| %>
	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label>CEP*</label>
				<%= address.input :zipcode, label: false, input_html: { class: 'string optional form-control cep' } %>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Logradouro*</label>
				<%= address.input :address, label: false %>
			</div>
		</div>
		<div class="col-xs-1">
			<div class="form-group">
				<label>Número*</label>
				<%= address.input :number, label: false %>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Complemento*</label>
				<%= address.input :complement, label: false %>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Bairro*</label>
				<%= address.input :district, label: false %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-2">
			<div class="form-group">
				<label>Estado*</label>
				<%= address.association :state, collection: State.all.order(:name), label_method: :acronym, value_method: :id, label: false, include_blank: "-- Selecione --", input_html: { class: 'select optional form-control chosen' } %>
			</div>
		</div>
		<div class="col-xs-3">
			<div class="form-group">
				<label>Cidade*</label>
				<%= address.association :city, collection: City.all.order(:name), label_method: :name, value_method: :id, label: false, include_blank: "-- Selecione --", input_html: { class: 'select optional form-control chosen' } %>
			</div>
		</div>
	</div>
	<% end %>

	<h2 class="documents-title">Documentos</h2>

	<div class="row">
		<div class="col-xs-3">
			<div class="form-group">
				<%= f.fields_for :attachments, f.object.attachments.select{|item| item[:id] == nil}, defaults: { input_html: { class: 'form-control' } } do |cs| %>
				<%= cs.input :attachment, as: :file, label: false %>
				<% end %>
			</div>
		</div>
		<% if f.object.persisted? %>
		<div class="col-xs-2 view-div">
			<a class="popup-modal" href="#modal_show_files_<%=f.object.id%>">Visualizar todos</a>
			<%= render 'thirds/modal/show_files_third', object: f.object, attachments: f.object.attachments.select{|item| item[:id] == nil} %>
		</div>
		<% end %>
	</div>
	<br>
	<div class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="title slide_historic_observations show_content">
					<span>Visualizar Histórico de Observações (<%=(f.object.observations.length-1)%>) <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></span>
				</div>
			</div>
		</div>
	</div>

	<!-- Histórico de Observações -->
	<%= f.fields_for :observations, defaults: { input_html: { class: 'form-control' } } do |observation| %>
	<% if observation.object.persisted? %>
	<div class="row row_with_observation">
		<div class="col-xs-3">
			<label for="#"><%= Observation.human_attribute_name(:created_at) %>:</label>
			<% if observation.object.created_at %>
			<%= I18n.l observation.object.created_at.to_datetime, format: :full %>
			<% end %>
		</div>
		<div class="col-xs-3">
			<label for="#"><%= Observation.human_attribute_name(:user)%>:</label>
			<% if observation.object.user %>
			<%= observation.object.user.name %>
			<% end %>
		</div>
		<div class="col-xs-4">
			<label for="#"><%= Observation.human_attribute_name(:observation)%>:</label>
			<% if observation.object.user_id == @current_user.id %>
			<%= observation.input :observation, label: false %>
			<% else %>
			<% if observation.object.observation %>
			<%= observation.object.observation %>
			<% end %>
			<% end %>
		</div>
		<div class="col-xs-2 delete-obs">
			<a title="Excluir" data-confirm="Tem certeza que deseja excluir essa observação?" rel="nofollow" data-method="delete" href="<%= delete_observation_third_path(observation.object) %>">Excluir
			</a>
		</div>
	</div>
	<% end %>
	<% end %>
	<!-- Fim histórico de observações -->

	<br>

	<!-- Nova observação -->
	<%= f.fields_for :observations, defaults: { input_html: { class: 'form-control' } } do |observation| %>
	<% if !observation.object.persisted? %>
	<div class="row">
		<div class="col-xs-12">
			<label for="#"><%= Observation.human_attribute_name(:new_observation)%>:</label>
			<%= observation.association :user, :as => :hidden, input_html: { value: @current_user.id} %>
			<%= observation.input :observation, label: false %>
		</div>
	</div>
	<% end %>
	<% end %>
	<!-- Fim nova observação -->

	<button type="submit" class="save-btn">Salvar</button>

</div>
<% end %>