<div class="container" id="thirds">
	
	<!-- Head -->
	<div class="row">
		<div class="col-xs-12 margin-head">
			<h1 class="inline">Cadastros > Terceiros > <a href="<%= thirds_path(type: @third_type) %>"><%= @name_to_show %></a></h1>
			<a class="pull-right new-btn" href="<%= new_third_path(type: @third_type) %>">Novo</a>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<%= datagrid_form_for @grid, :method => :get, :url => thirds_path %>
		</div>
	</div>

	<!-- Table -->
	<div class="row">
		<div class="col-xs-12">
			<%= datagrid_table @grid, html: {class: 'table datagrid'} %>
		</div>
	</div>
	
	<!-- Pagination -->
	<div class="row">
		<div class="col-xs-12 center">
			<%= paginate(@grid.assets) %>
		</div>
	</div>

</div>